:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.grid {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
    display: grid;
    border: 5px solid black;
}
.grid-item {
    border: none;
  }