*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    margin-bottom: 0px;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-color: pink;
}

.grid {
    background-color: white;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
    display: grid;
    border: 5px solid rgb(187, 114, 141);
}
.grid-item {
    border: none;
  }

.button {
    border: 2px solid rgb(187, 114, 141);
    cursor: pointer;
    font-weight: bold;
    color: white;
    width: 150px;
}

.buttons {
    width: 100px;
    display: flex;

}
#redButton{
    background-color: red;
}
#orangeButton{
    background-color: orange;
}
#yellowButton {
    background-color: yellow;
}
#greenButton {
    background-color: green;
}
#blueButton {
    background-color: blue;
}
#purpleButton {
    background-color: purple;
}
#pinkButton {
    background-color: lightpink;
}
#blackButton {
    background-color: black;
}
#rainbowButton{
    background-color:aquamarine;
}
#clearBoard{
    background-color:chartreuse;
}

#inputbox{
    color: black;
}
.boardInfo{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: white;
}
.Header {
    display: flex;
    background-color: pink;
    color: white;
    font-family: cursive;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
}
#setSize{
    background-color:rgb(255, 0, 136)
}
.footer {
    background-color: pink;
    display: flex;
    justify-content: center;
    color: white;
    padding-bottom: 80px;
}
.github:hover {
    opacity: 50%;
  }